
<div class="container">
    <div class="jumbotron">
        <h2>Mis locales</h2>
        <div  ng-if="misLocales.length != 0" >
            <table class="table">
            </table>
        </div>
        <div ng-if="misLocales.length == 0" >
            <h3>No administras ningun local por el momento</h3>
        </div>
        <hr class="m-y-2">
        <h2>Administra tu local</h2>
        <p>
            <a href="#!/localesMapa" ><button type="button" class="btn btn-success btn-lg">Busca tu local</button></a>
            <button type="button" class="btn btn-default btn-lg">Registra nuevo local</button>
        </p>
    </div>
</div>