<header>
    <div menu-directive></div>
</header>
<div class="container">
    <div class="jumbotron">
        <h2>Promociones</h2>
        <div ng-if="misLocales.length == 0" >
            <h3>No administras ningun local por el momento, por lo tanto no puedes agregar promociones</h3>
        </div>
        <form ng-if="misLocales.length != 0"  ng-submit="agregarPromo()">
            <label for="nombrePromo">Nombre de la promocion</label>
            <input type="text" id="nombrePromo" class="form-control" placeholder="Nombre" required="" autofocus="" ng-model="promo.name"><br>
            <label for="nombrePromo">Descripcion</label>
            <input type="text" id="nombrePromo" class="form-control" placeholder="Nombre" required="" autofocus="" ng-model="promo.description"><br>

            <div  ng-if="todas == false">
                <label for="local">Local de la promocion</label>
                <select class="selectpicker" id="local" ng-model="promo.local">
                    <option ng-repeat="local in misLocales" value="{{local.id}}">{{local.zone}} ({{local.id}})</option>
                </select><br>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"  ng-model="todas"> Aplica para todos los locales
                </label>
            </div> 

            <label for="nombrePromo">Fecha de inicio</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='date' class="form-control"  ng-model="fechas.start_date"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div><br>

            <label for="nombrePromo">Fecha de finalizacion</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='date' class="form-control" ng-model="fechas.due_date"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <br><br>

            <button class="btn btn-lg btn-primary btn-block" type="submit" >Agregar</button>
        </form>
    </div>
</div>