<header>
    <div menu-directive></div>
</header>
<div class="container">
    <div class="jumbotron">
        <form class="form-signin"  ng-submit="registrar()">
            <h2 class="form-signin-heading">Completa el formulario para registrarte</h2>
            <b><label>Informacion del usuario</label></b>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="" ng-model="establishment_account.email">
            <label for="inputEmail" class="sr-only">Nombre</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Nombre" required="" autofocus="" ng-model="establishment_account.name">
            <label for="inputEmail" class="sr-only">Apellidos</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Apellidos" required="" autofocus="" ng-model="establishment_account.lastName">
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="" ng-model="establishment_account.password">
            <label for="inputPassword" class="sr-only">Repita su contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Repita su contraseña" required="" ng-model="password2"><br>
            
            <b><label>Informacion del establecimiento</label></b>
            <label for="inputEmail" class="sr-only">Nombre</label>
            <input type="text" id="inputEmail" class="form-control" placeholder="Nombre del establecimiento" required="" autofocus="" ng-model="establishment.name">
            <label for="inputPassword" class="sr-only">Telefono</label>
            <input type="text" id="inputPassword" class="form-control" placeholder="Telefono" required="" ng-model="establishment.telefono">
            
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Registrarme</button>
        </form>
    </div>
</div>