<header>
    <div menu-directive></div>
</header>
<div class="container">
    <div class="jumbotron">
        <h2>Promociones</h2>
        <div ng-if="promociones.length == 0" >
            <h3>No administras ningun local por el momento</h3>
        </div>
        <table class="table table-hover" ng-if="promociones.length >= 1">
            <thead>
                <tr>
                    <th>Ubicacion</th>
                    <th>Telefono</th>
                    <th>Promociones Activas</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="local in promociones">
                    <td>{{local.zone}}</td>
                    <td>{{local.telefono}}</td>
                    <td>{{local.promos_events.length}}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>